$primary : #002C5F;
$secondary01 : #e4dcd3;
$secondary02 : #F6F3F2;
$point : #00aad2;
$point-red : #E63312;
$point-red-rgb : rgba(230, 51, 18, 0.05);
$border-color : #ddd;

$white : #fff;
$gray01 : #f5f5f5;
$gray02 : #e5e5e5;
$gray03 : #999;
$gray04 : #444;
$black : #000;

.g08{gap: 8px;}
.g12{gap: 12px;}
.g16{gap: 16px;}
.g20{gap: 20px;}
.g40{gap: 40px;}
.g96{gap: 96px;}

.p10{padding: 10px;}
.p20{padding: 20px;}
.p32{padding: 32px;}
.pt12{padding-top: 12px;}
.pt16{padding-top: 16px;}
.pt20{padding-top: 20px;}
.pt40{padding-top: 40px;}

.py16{padding-top: 16px;padding-bottom: 16px;}
.py20{padding-top: 20px;padding-bottom: 20px;}
.py24{padding-top: 24px;padding-bottom: 24px;}
.py28{padding-top: 28px;padding-bottom: 28px;}
.py35{padding-top: 35px;padding-bottom: 35px;}
.px32{padding-left: 32px;padding-right: 32px;}

.mt20{margin-top: 20px;}
.mt28{margin-top: 20px;}


.fw500{font-weight: 500;}


.border-bottom{border-bottom:1px solid $border-color;}
.border-top{border-top:1px solid $border-color;}

//폰트 사이즈
.HCAU-h1{color: $black;font-size: 40px;text-transform: uppercase;font-weight: 700;}
.HCAU-h2{color: $black;font-size: 24px;font-weight: 700;}
.HCAU-lead-txt{color: $black;font-size: 20px;}
.HCAU-txt-lg{color: $black;font-size: 18px;}
.HCAU-txt-md{color: $black;font-size: 16px;}
.HCAU-txt-sm{color: $black;font-size: 14px;}

//폰트 컬러
.white{color: $white}
.gray01{color : $gray01}
.gray02{color : $gray02}
.gray03{color : $gray03}
.gray04{color : $gray04}
.black{color: $black}
.point-red{color: $point-red}

//브레드크럼
.HCAU-breadcrumb {
    .breadcrumb{margin-bottom: 80px;}
}

//타이틀
.HCAU-title{
    padding-bottom:40px;
    .HCAU-txt-lg{
        color: $gray04;
    }

}

//상세
.HCAU-detail{
    > section{
        // border: 1px solid #000;
        & + section{margin-top: 60px;}
        .title-area{
            margin-bottom: 20px;
            .title{font-size: 24px;font-weight: 700;}
            .sub-title{font-size: 14px;color: $gray04;}
        }
    }
}

//안내
.g-notice{
    border-top: 1px dashed $gray03;
    padding: 32px 0;
    dl{
        dt{
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 16px;
            &::before{
                content:'';
                display: inline-block;
                width: 18px;
                height: 18px;
                background: url(/static/img/ico/ico_notice.png) no-repeat 0 0;
                vertical-align: text-top;
                margin-right: 2px;
            }
        }
    }
}

//bullet list
.HCAU-bullet-list{
    li{
        position: relative;
        font-size: 14px;
        color: $gray04;
        padding-left: 11px;
        &::before{
            content:'';
            display: inline-block;
            width: 3px;
            height: 3px;
            border-radius: 3px;
            background: $gray04;
            position: absolute;
            left:0;
            top: 9px;
        }
        .link{margin-left: 4px;}
        & + li{margin-top: 9px;}
    }
    .point-red{color: $point-red;}
    .point-red:before{
        background-color: $point-red;
    }
}


//링크
.link{
    font-weight: 500;
    color: $primary;
    // margin-left: 4px;
    text-decoration: none;
    font-size: 14px;
    &::after{
        content:'';
        display: inline-block;
        width: 7px;
        height: 7px;
        border-right: 1px solid $primary;
        border-bottom: 1px solid $primary;
        transform: rotate(-45deg);
        margin-left: 5px;
    }
}

//pagination
.HACU-pagination{
    margin-top: 40px;
    .page-item{
        &.active .page-link{
            background: none;
            color: $point;
        }
        .page-link{
            border: none;
            font-weight: 500;
            color: $black;
            padding: 0;
            width: 24px;
            height: 24px;
            text-align: center;
            padding: 0 2px;
        }
        .page-link:hover{
            background: none;
        }
    }
}


//버튼
.HCAU-btn{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: $black;
    font-weight: 500;
    border-radius: 4px;
    background: $white;
    border: 1px solid $black;
    //버튼 사이즈
    &.btn-sm{
        font-size: 14px;
        min-height: 30px;
        padding: 3px 16px;
        & + .btn-sm{
            margin-left: 4px;
        }
    }
    &.btn-smd{
        font-size: 14px;
        font-weight: 500;
        min-height: 44px;
        // min-width: 120px;
        text-align: center;
        padding: 10px 16px;
    }
    &.btn-md{
        font-size: 16px;
        font-weight: 700;
        min-height: 48px;
        min-width: 120px;
        text-align: center;
        padding: 11px 16px;
    }
    &.btn-large{
        font-size: 16px;
        font-weight: 700;
        min-height: 52px;
        min-width: 123px;
        text-align: center;
        padding: 13px 16px;
    }
    &.full{width: 100%;}
    &.dropdown-toggle{
        font-size: 14px;
        line-height: 1.429;
        padding: 11px 54px 11px 16px;
        color: $black;
        border-color : $border-color;
        box-shadow: none;
        width: 100%;
        text-align: left;
        position: relative;
        &::after{
            border-top-width: 5px;
            border-right-width: 5px;
            border-left-width: 5px;
            position: absolute;
            right: 23px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    //버튼컬러
    &.primary{
        background: $primary;
        border: 1px solid $primary;
        color: $white;
    }
    &.gray01{
        background: $gray01;
        border: 1px solid $gray02;
        color: $black;
    }
    &.gray03{
        background: $gray03;
        border: 1px solid $gray03;
        color: $white;
    }
    &:disabled{
        border: 1px solid $gray02;
        background: $gray02;
        color: $gray03;
    }
    //아이콘
    .ico-print{
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(/static/img/ico/ico_print.png) no-repeat 0 0;
        vertical-align: bottom;
        text-indent: -9999px;
        // margin-left: 4px;
    }
}

.d-flex.full{
    a,
    button,
    div{
        flex: 1 1 0;
    }
}

//탭메뉴
.HCAU-tab{
    .nav-tabs{
        border-bottom: 1px solid $black;
        .nav-link{
            border-color: #ddd;
            border-bottom-color: $black;
            color: $gray03;
            background: #f5f5f5;
            font-weight: 700;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .nav-link.active{
            border-color: $black;
            border-bottom-color: $white;
            background: $white;
            color: $black;
        }
    }
}

//badge
.HCAU-badge{
    display: inline-block;
    font-size: 12px;
    padding:0 8px;
    border-radius: 15px;
    vertical-align: text-bottom;
    &.type01{color: #ea0029;background: #FEEBEE;}
    &.type02{color: $primary;background: #EBEFF3;}
}

//스텝
.HCAU-step{
    display: flex;
    gap: 20px;
    .step-item{
        position: relative;
        border: 2px solid $gray02;
        border-radius: 36px;
        flex-grow:0;
        flex-shrink:0;
        flex-basis: 36px;
        height: 36px;
        align-items:center;
        justify-content: center;
        display: flex;
        .num{font-size: 15px;font-weight: 600;}
        .txt{
            display: none;
        }
    }
    .step-item.active{
        flex-basis:auto;
        padding-left: 5px;
        border-color: $primary;
        .num{
            background: $primary;
            color: $white;
            width: 26px;
            height: 26px;
            border-radius: 100%;
            line-height: 26px;
            text-align: center;
        }
        .txt{
            display: block;
            padding: 0 12px;
            font-size: 13px;
            font-weight: 600;
        }
        // flex-grow: 1;
    }
    .step-item + .step-item:before{
        content:'';
        display: block;
        width: 20px;
        height: 2px;
        background: $gray02;
        position: absolute;
        left: -22px;top: 50%;
    }
}

//border-box
.border-box{
    border: 1px solid $gray02;
    border-radius: 4px;
    background: $white;
}

.bg-box{
    background: $gray01;
    border-radius: 4px;
}

// .flex-box{
//     display: flex;
//     .flex-item{
//         flex:1 0 0;
//     }
// }

//form text, select
.HCAU-form.form-control,
.HCAU-form.form-select{
    font-size: 14px;
    line-height: 1.429;
    padding: 11px 16px;
    color: $black;
    border-color : $border-color;
    box-shadow: none;
    border-radius: 4px;
}
.HCAU-form.form-control:focus,
.HCAU-form.form-select:focus,
.HCAU-btn.dropdown-toggle:focus{
    border-color: $point;
    outline: 1px solid $point;
}
.HCAU-form.form-control:disabled,
.HCAU-form.form-select:disabled{
    background-color: $gray01;
    color: $gray03;
}

//form check, radio
.HCAU-form.form-check-input{
    width: 20px;
    height: 20px;
    // box-shadow: none;
    border-color: $border-color;
    & + label{
        vertical-align: bottom;
        font-size: 14px;
        margin-left: 2px;
    }
}
.HCAU-form.form-check-input[type=checkbox]{
    background-image: url(/static/img/bg/bg_input_check.svg);
    background-size: 14px 14px;
    &:checked{
        background-color: $primary;
        border-color: $primary;
        background-image: url(/static/img/bg/bg_input_check_on.svg);
        background-size: 14px 14px;
    }
}
.HCAU-form.form-check-input:checked[type=radio]{
    background-color: $white;
    border-color: $primary;
    background-image: url(/static/img/bg/bg_input_radio_on.svg);
    background-size: 14px 14px;
}

//테이블
.HCAU-table{
    .table{
        &.fixed{table-layout: fixed;}
        border-top: 1px solid $border-color;
        margin-bottom: 0;
        th,td{
            font-size: 14px;
            border-color: $border-color;
        }
        th{
            padding: 20px;
            background: $secondary02;
        }
        td{
            padding: 16px 20px;
        }
        .table-active td{
            background:$point-red-rgb;
            box-shadow: none;
        }
        .tb-inner-flex{
            > div{
                display: flex;
                gap: 16px;
                & + div{
                    margin-top: 4px;
                }
            }
            .separator{
                span + span::before{
                    content:'';
                    display: inline-block;
                    width: 1px;
                    height: 14px;
                    background: $secondary01;
                    position: relative;
                    left: -8px;
                    top: 3px;
                }
            }
        }
    }
}
.HCAU-table.type02{
    th,
    td{padding-top: 28px;padding-bottom: 28px;}
}

// modal 공통
.HCAU-modal{
    .modal-dialog{
        max-width: 800px;
        .modal-content{
            position: relative;
            padding: 40px;
            .modal-header{
                display: block;
                padding: 0;
                border: none;
                margin-bottom: 28px;
                .HCAU-h2{
                    margin-top: 34px;
                }
                .btn-close{
                    opacity: 1;
                    position: absolute;
                    right: 40px;
                    top: 40px;
                    padding: 0;
                    width: 24px;
                    height: 24px;
                    background-image: url(/static/img/ico/ico_modal_close.png);
                }
            }
            .modal-body{
                padding: 0;
            }
            .modal-footer{
                display: block;
                padding: 0;
                border: none;
                margin-top: 60px;
                * {margin: 0;}
            }
        }
    }
}
.HCAU-modal.login{
    .modal-dialog{
        max-width:480px;
    }
}
.HCAU-search-bar{
    .HCAU-btn.dropdown-toggle{min-width: 153px;}
    .search-btn{flex-basis:146px}
}
.radio-group{
    display: flex;
    border: 1px solid $border-color;
    border-radius: 4px;
    overflow: hidden;
    > div + div{
        border-left: 1px solid $border-color;
    }
    .HCAU-btn{
        border: none;
        border-radius: 0;
        min-height: 42px;

    }
    input[type="radio"]:checked + .HCAU-btn{
        background: $black;
        color: $white;
    }
}

.dropdown-menu{
    width: 100%;
    padding:0;
    overflow: hidden;
    li{font-size: 14px;}
    li:hover a{background: none;}
    li:nth-child(2n-1){
        background:$gray01;
    }
    .dropdown-item{
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

// nodata
.HCAU-nodata.type01{
    display: flex;
    justify-content: center;
    align-items:center;
    .HCAU-lead-txt{padding: 120px 0;font-weight: 700;}
    .HCAU-lead-txt:before{
        content:'';
        display: block;
        width: 100%;
        height: 100px;
        background: url(/static/img/ico/ico_no_matches_hd01.png) no-repeat 50% 0;
        margin-bottom: 16px;
    }
}
.HCAU-nodata.type02{
    display: flex;
    justify-content: center;
    align-items:center;
    .HCAU-txt-sm{padding: 84px 0;font-weight: 700;}
    .HCAU-txt-sm:before{
        content:'';
        display: block;
        width: 100%;
        height: 48px;
        background: url(/static/img/ico/ico_no_matches_hd02.png) no-repeat 50% 0;
        margin-bottom: 8px;
    }
}

.ico-loan-btn{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(/static/img/ico/ico_loan_btn.png) no-repeat 0 0;
}

// loan-items
.loan-items-wrap{
    row-gap: 20px;
    column-gap: 85px;
}
.loan-items{
    width: 350px;
    .loan-items-ico{
        float:left;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: 0 0;
        &.ico01{
            background-image: url(/static/img/ico/ico_loan01.png);
        }
        &.ico02{
            background-image: url(/static/img/ico/ico_loan02.png);
        }
        &.ico03{
            background-image: url(/static/img/ico/ico_loan03.png);
        }
        &.ico04{
            background-image: url(/static/img/ico/ico_loan04.png);
        }
        &.ico05{
            background-image: url(/static/img/ico/ico_loan05.png);
        }
        &.ico06{
            background-image: url(/static/img/ico/ico_loan06.png);
        }
        &.ico07{
            background-image: url(/static/img/ico/ico_loan07.png);
        }
        &.ico08{
            background-image: url(/static/img/ico/ico_loan08.png);
        }

    }
    .loan-text{
        float:left;
        margin-left: 16px;
    }
}

//payment request
.HCAU-payment-request{
    .border-box > .d-flex{height: 70px;}
}