#wrap{
    display:flex;
    min-height: 100vh;
    .HCAU-sidebar{
        background: #00AAD2;
        flex:0 0 3vw;
    }
    .HCAU-menubar{
        flex:1 1 0;
        background:#fff;
        
        .menu{
            float:right;
            width:25vw;
            min-height: 100vh;
            padding-right: 20px;
            text-align: right;
            font-size:2.5vw;
            border-right:1px solid #dedede;
        }
    }
    .HCAU-container{
        display: flex;
        flex-direction: column;
        flex:1 1 75vw;
        .HCAU-contents{
            width:100%;
           // border:1px solid;
            flex:1 0 auto;
        }
        .HCAU-footer{
            height:80px;
            background:#333;
            color:#fff;
        }
      }
}