$primary : #002C5F;
$secondary01 : #e4dcd3;
$secondary02 : #F6F3F2;
$point : #00aad2;
$point-red : #E63312;
$point-red-rgb : rgba(230, 51, 18, 0.05);
$border-color : #ddd;

$white : #fff;
$gray01 : #f5f5f5;
$gray02 : #e5e5e5;
$gray03 : #999;
$gray04 : #444;
$black : #000;

.white{color: $white !important;}
.gray01{color : $gray01 !important;}
.gray02{color : $gray02 !important;}
.gray03{color : $gray03 !important;}
.gray04{color : $gray04 !important;}
.black{color: $black !important;}
.point-red{color: $point-red !important;}

strong{font-weight: 700;}

.g08{gap: 8px;}
.g12{gap: 12px;}
.g16{gap: 16px;}
.g20{gap: 20px;}

.p10{padding: 10px;}
.p20{padding: 20px;}
.pt12{padding-top: 12px;}
.pt20{padding-top: 20px;}

.px24{padding-top: 24px;padding-bottom: 24px;}
.py32{padding-left: 32px;padding-right: 32px;}


.fw400{font-weight: 400;}
.fw500{font-weight: 500;}
.fw600{font-weight: 600;}
.fw700{font-weight: 700;}

.text-right{text-align: right;}
.text-center{text-align: center;}

//브레드크럼
.HCAU-breadcrumb {
    .breadcrumb{margin-bottom: 80px;}
}

//타이틀
.HCAU-title{
    padding-bottom:40px;
    .title{font-size: 40px;}
    .txt{font-size: 16px;}
}

//상세
.HCAU-detail{
    > section{
        // border: 1px solid #000;
        & + section{margin-top: 60px;}
        .title-area{
            margin-bottom: 20px;
            .title{font-size: 24px;font-weight: 700;}
            .sub-title{font-size: 14px;color: $gray04;}
        }
    }
}

//안내
.g-notice{
    border-top: 1px dashed $gray03;
    padding: 32px 0;
    dl{
        dt{
            margin-bottom: 16px;
            padding-left: 2px;
            &::before{
                content:'';
                display: inline-block;
                width: 18px;
                height: 18px;
                background: url(../img/ico/ico_notice.png) no-repeat 0 0;
                vertical-align: text-top;
            }
        }
    }
}

//bullet list
.HCAU-bullet-list{
    li{
        position: relative;
        font-size: 14px;
        color: $gray04;
        padding-left: 11px;
        &::before{
            content:'';
            display: inline-block;
            width: 3px;
            height: 3px;
            background: $gray04;
            border-radius: 100%;
            position: absolute;
            left:0;
            top: 9px;
        }
        .link{margin-left: 4px;}
        & + li{margin-top: 9px;}
    }
    .point-red:before{
        background-color: $point-red;
    }
}


//링크
.link{
    font-weight: 500;
    color: $primary;
    // margin-left: 4px;
    text-decoration: none;
    font-size: 14px;
    &::after{
        content:'';
        display: inline-block;
        width: 8px;
        height: 8px;
        border-right: 1px solid $primary;
        border-bottom: 1px solid $primary;
        transform: rotate(-45deg);
    }
}

//pagination
.HACU-pagination{
    margin-top: 40px;
    .page-item{
        &.active .page-link{
            background: none;
            color: $point;
        }
        .page-link{
            border: none;
            font-weight: 500;
            color: $black;
            padding: 0;
            width: 24px;
            height: 24px;
            text-align: center;
            padding: 0 2px;
        }
        .page-link:hover{
            background: none;
        }
    }
}


//버튼
.HCAU-btn{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: $black;
    font-weight: 500;
    border-radius: 4px;
    background: $white;
    border: 1px solid $black;
    //버튼 사이즈
    &.btn-sm{
        font-size: 14px;
        min-height: 30px;
        padding: 3px 16px;
        & + .btn-sm{
            margin-left: 4px;
        }
    }
    &.btn-md{
        font-size: 16px;
        font-weight: 700;
        min-height: 48px;
        min-width: 120px;
        text-align: center;
        padding: 11px 16px;
    }
    &.btn-large{
        font-size: 16px;
        font-weight: 700;
        min-height: 52px;
        min-width: 123px;
        text-align: center;
        padding: 13px 16px;
    }
    //버튼컬러
    &.primary{
        background: $primary;
        border: 1px solid $primary;
        color: $white;
    }
    &.gray01{
        background: $gray01;
        border: 1px solid $gray02;
        color: $black;
    }
    &.gray03{
        background: $gray03;
        border: 1px solid $gray03;
        color: $white;
    }
    &:disabled{
        border: 1px solid $gray02;
        background: $gray02;
        color: $gray03;
    }
    //아이콘
    .ico-print{
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../img/ico/ico_print.png) no-repeat 0 0;
        vertical-align: bottom;
        text-indent: -9999px;
        // margin-left: 4px;
    }
}

.d-flex.full{
    button,
    a{
        flex: 1 1 0;
    }
}

//탭메뉴
.HCAU-tab{
    .nav-tabs{
        border-bottom: 1px solid $black;
        .nav-link{
            border-color: #ddd;
            border-bottom-color: $black;
            color: $gray03;
            background: #f5f5f5;
            font-weight: 700;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .nav-link.active{
            border-color: $black;
            border-bottom-color: $white;
            background: $white;
            color: $black;
        }
    }
}

//badge
.HCAU-badge{
    display: inline-block;
    font-size: 12px;
    padding:0 8px;
    border-radius: 15px;
    vertical-align: text-bottom;
    &.type01{color: #ea0029;background: #FEEBEE;}
    &.type02{color: $primary;background: #EBEFF3;}
}

//스텝
.HCAU-step{
    display: flex;
    gap: 20px;
    .step-item{
        position: relative;
        border: 2px solid $gray02;
        border-radius: 36px;
        flex-grow:0;
        flex-shrink:0;
        flex-basis: 36px;
        height: 36px;
        align-items:center;
        justify-content: center;
        display: flex;
        .num{font-size: 15px;font-weight: 600;}
        .txt{
            display: none;
        }
    }
    .step-item.active{
        flex-basis:auto;
        padding-left: 5px;
        border-color: $primary;
        .num{
            background: $primary;
            color: $white;
            width: 26px;
            height: 26px;
            border-radius: 100%;
            line-height: 26px;
            text-align: center;
        }
        .txt{
            display: block;
            padding: 0 12px;
            font-size: 13px;
            font-weight: 600;
        }
        // flex-grow: 1;
    }
    .step-item + .step-item:before{
        content:'';
        display: block;
        width: 20px;
        height: 2px;
        background: $gray02;
        position: absolute;
        left: -22px;top: 50%;
    }
}

//폰트사이즈
.HCAU-h1{color: $black;font-size: 40px;text-transform: uppercase;font-weight: 700;}
.HCAU-h2{color: $black;font-size: 24px;font-weight: 700;}
.HCAU-lead-txt{color: $black;font-size: 20px;}
.HCAU-txt-lg{color: $black;font-size: 18px;}
.HCAU-txt-md{color: $black;font-size: 16px;}
.HCAU-txt-sm{color: $black;font-size: 14px;}

//border-box
.border-box{
    border: 1px solid $gray02;
    border-radius: 4px;
}

.bg-box{
    background: $gray01;
    border-radius: 4px;
}

.flex-box{
    display: flex;
    .flex-item{
        flex:1 0 0;
    }
}

//form text, select
.HCAU-form.form-control,
.HCAU-form.form-select{
    font-size: 14px;
    line-height: 1.429;
    padding: 11px 16px;
    color: $black;
    border-color : $border-color;
    box-shadow: none;
}
.HCAU-form.form-control:focus,
.HCAU-form.form-select:focus{
    border-color: $point;
    outline: 1px solid $point;
}
.HCAU-form.form-control:disabled,
.HCAU-form.form-select:disabled{
    background-color: $gray01;
    color: $gray03;
}

//form check, radio
.HCAU-form.form-check-input{
    width: 20px;
    height: 20px;
    box-shadow: none;
    border-color: $border-color;
    & + label{
        vertical-align: bottom;
        font-size: 14px;
        margin-left: 2px;
    }
}
.HCAU-form.form-check-input[type=checkbox]{
    background-image: url(../img/bg/bg_input_check.svg);
    background-size: 14px 14px;
    &:checked{
        background-color: $primary;
        border-color: $primary;
        background-image: url(../img/bg/bg_input_check_on.svg);
        background-size: 14px 14px;
    }
}
.HCAU-form.form-check-input:checked[type=radio]{
    background-color: $white;
    border-color: $primary;
    background-image: url(../img/bg/bg_input_radio_on.svg);
    background-size: 14px 14px;
}

//테이블
.HCAU-table{
    .table{
        &.fixed{table-layout: fixed;}
        border-top: 1px solid $border-color;
        margin-bottom: 0;
        th,td{
            font-size: 14px;
            border-color: $border-color;
        }
        th{
            padding: 20px;
            background: $secondary02;
        }
        td{
            padding: 16px 20px;
        }
        .table-active td{
            background:$point-red-rgb;
            box-shadow: none;
        }
        .tb-inner-flex{
            > div{
                display: flex;
                gap: 16px;
                & + div{
                    margin-top: 4px;
                }
            }
            .separator{
                span + span::before{
                    content:'';
                    display: inline-block;
                    width: 1px;
                    height: 14px;
                    background: $secondary01;
                    position: relative;
                    left: -8px;
                    top: 3px;
                }
            }
        }
    }
}

.HCAU-modal{
    .modal-dialog{
        background: red;
        max-width: 800px;
        .modal-content{
            position: relative;
            padding: 40px;
            .modal-header{
                display: block;
                padding: 0;
            }
            .modal-body{
                padding: 0;
            }
            .modal-footer{
                padding: 0;
            }
        }
    }
    .btn-close{
        opacity: 1;
        position: absolute;
        right: 40px;
        top: 40px;
    }
}